@import "~bootstrap/scss/bootstrap";

$primary-color: #050505;
$second-color: #ef0f0ff0;
$font-color: rgb(244, 243, 243);

body {
    color: $font-color;
    background-color: $primary-color;
}

nav.navbar {
background-color: $second-color;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
}
