@import "~bootstrap/scss/bootstrap";

$primary-color: #2b2b2b;
$second-color: #ef0f0f;
$font-color: #fcfcfc;

body {
background-color: $primary-color;
}

nav.navbar {
background-color: $second-color;
}